Nature4U/Nature4U/Nature4U/Service References/NatureServiceRef/NatureService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nature4U.TYPES" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nature4U.TYPES" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBodyParts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BodyParts" nillable="true" type="tns:BodyParts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBodyParts" nillable="true" type="tns:ArrayOfBodyParts" />
  <xs:complexType name="BodyParts">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyParentID" type="xs:int" />
      <xs:element minOccurs="0" name="BodyPartID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BodyParts" nillable="true" type="tns:BodyParts" />
</xs:schema>